.header {
    position: fixed;
    right: 0;
    left: 0;

    z-index: 20;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffff;
    /* 0-9 A-F */
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;

}

.logo img {
    width: 150px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav a {
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    font-size: 14px;
    margin-left: 25px;
    transition: .3s;
}

/* Псевдокласс для навидения  */
.header-nav a:hover {
    color: #6d70c6;
}

/* .header-nav a::after {
    content: "111";
}

.header-nav a::before {
    content: "222";
} */


.main-home {
    background-image: url('../../images/backgrounds/home-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 85vh;

    position: relative;

    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;


    color: #ffffff;

    text-align: center;

    line-height: 1.5;
}

.main-home::after {
    content: "";

    background-color: rgba(0,0,0,.7);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.home-content h3{
    font-size: 48px;
    font-weight: bold;
}

.home-content p {
    font-weight: 100;
    font-size: 18px;
    width: 55%;
    margin: 30px auto;
}

.btn-row {
    width: 35%;
    margin: auto;
}

/* .parent {
    width: 600px;
    height: 400px;
    border: 2px solid black;

    position: relative;
}

.child {
    width: 100px;
    height: 100px;

    background-color: lightblue;

    position: absolute;
    top: 50px;
     top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
}

.first {
    background-color: red;
    left: 20px;
    top: 40px;
    z-index: 5;
}

.second {
    z-index: 2;
} */



.dropdown-content {
    display: none;
    position: absolute;
    width: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.dropdown-content a {
    margin: 0;
    padding: 15px;
}

.dropdown:hover .dropdown-content{
    display: flex;
}