.main-team {
    background-color: #f7f7f7;
}

.team-item {
    width: calc(100% / 4 - 3%);
}

.team-pic {
    width: 100%;
}

.team-pic img {
    width: 100%;
}

.team-content {
    text-align: center;
    padding: 20px 0;
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.03);
}

.team-content h4 {
    text-transform: uppercase;
    color: #6d70c6;
    font-weight: 700;
    font-size: 18px;
}

.team-content p {
    color:#777;
    font-size: 14px;
    margin-top: 15px;
}

.team-pic {
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.team-pic::after, .team-pic::before {
    content: "";
    width: 200%;
    height: 80%;
    position: absolute;
    top: -100%;
    left: -4%;
    background-color: rgba(0,0,0,0.6);
    transform: rotate(45deg);
    transition: .3s;
}

.team-pic::after {
    background-color: rgba(68, 57, 134, .6);
    top: auto;
    left: auto;
    bottom: -100%;
    right: -4%;
}

.team-item:hover .team-pic::after {
    bottom: 0;
}
.team-item:hover .team-pic::before {
    top: 0;
}

.team-item:hover .team-social {
    opacity: 1;
}

.team-social {
    position: absolute;
    display: flex;
    z-index: 2;
    opacity: 0;
    transition: .5s;
}

.team-social a {
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .5s;
}

.team-social i {
    color: #6d70c6;
}

.team-social a:nth-child(2) {
    margin: 0 10px;
}

.team-social a:hover {
    background-color: #6d70c6;
}

.team-social a:hover i {
    color: #fff;
}